@model LeadInputModel

@{
    ViewData["Title"] = "Form 1";
}

<form asp-controller="Leads" asp-action="Form1" class="form" method="post">
    <fieldset>
        <legend>Form 1</legend>
        <div class="mb-3">
            <label class="form-label" asp-for="FirstName"></label>
            <input class="form-control" asp-for="FirstName" />
            <span asp-validation-for="FirstName" role="alert"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="LastName"></label>
            <input class="form-control" asp-for="LastName" />
            <span asp-validation-for="LastName" role="alert"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="ContactNumber"></label>
            <input class="form-control" asp-for="ContactNumber" />
            <span asp-validation-for="ContactNumber" role="alert"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>

<script language="javascript">
    $(document).ready(function () {
        $("form").submit(function (event) {
            debugger;
            event.preventDefault();

            var $form = $(event.currentTarget);

            var data = {
                "phone-number": $("#ContactNumber").val(),
                "contact-person": {
                    "first-name": $("#FirstName").val(),
                    "last-name": $("#LastName").val()
                }
            };

            // ajax POST
            $.ajax({
                url: "@ViewBag.Url",
                method: "POST",
                data: JSON.stringify(data),
                datatype: "jsonp",
                success: handleResponse,
                error: handleError,
                complete: function (jqXHR, status) {
                    console.log(jqXHR);
                    console.log(status);
                    $form.trigger('reset');
                }
            });
        });

        function handleResponse(res) {
            debugger;
            alert("success");
        }

        function handleError(err) {
            debugger;
            alert("failure");
        }
    });
</script>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}