@model LeadInputModel

@{
    ViewData["Title"] = "Form 1";
}

<form asp-controller="Leads" asp-action="Form3" class="form" method="post">
    <fieldset>
        <legend>Form 3</legend>
        <div class="mb-3">
            <label class="form-label" asp-for="FirstName"></label>
            <input class="form-control" asp-for="FirstName" value="John" />
            <span asp-validation-for="FirstName" role="alert"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="LastName"></label>
            <input class="form-control" asp-for="LastName" value="Doe" />
            <span asp-validation-for="LastName" role="alert"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="ContactNumber"></label>
            <input class="form-control" asp-for="ContactNumber" value="0000000000" />
            <span asp-validation-for="ContactNumber" role="alert"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>

<script language="javascript">
    $(document).ready(function () {
        $("form").submit(function (event) {
            debugger;
            event.preventDefault();

            var $form = $(event.currentTarget);

            var data = {
                "contactNumber": $("#ContactNumber").val(),
                "firstName": $("#FirstName").val(),
                "lastName": $("#LastName").val()
            };

            // ajax POST
            $.ajax({
                url: "/Leads/Form3",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                datatype: "json",
                success: handleResponse,
                error: handleError,
                complete: function (jqXHR, status) {
                    console.log(jqXHR);
                    console.log(status);
                    $form.trigger('reset');
                }
            });
        });

        function handleResponse(res) {
            debugger;
            window.location.href = "/Leads/Success?reference=" + res;
        }

        function handleError(err) {
            debugger;
            alert(err.responseText);
        }
    });
</script>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}