@{
    ViewData["Title"] = "Leads Page";
}

<div class="row">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Form 1</h5>
            <h6 class="card-subtitle mb-2 text-danger">JQuery CORS Bad example</h6>
            <p class="card-text">This example makes a cross domain browser POST and will fail.</p>
            <a class="card-link" asp-area="" asp-controller="Leads" asp-action="Form1">Form 1</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Form 3</h5>
            <h6 class="card-subtitle mb-2 text-success">JQuery POST to self example</h6>
            <p class="card-text">This example makes a POST to its own domain and uses backend code.</p>
            <a class="card-link" asp-area="" asp-controller="Leads" asp-action="Form3">Form 3</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Form 2</h5>
            <h6 class="card-subtitle mb-2 text-success">C# POST to self example</h6>
            <p class="card-text">This example makes a POST to its own domain and uses backend code.</p>
            <a class="card-link" asp-area="" asp-controller="Leads" asp-action="Form2">Form 2</a>
        </div>
    </div>
</div>
